body {
  background: linear-gradient(135deg, #e1eaf7, #ffffff, #e1eaf7);
  min-height: 100vh;
}

.login-card {
  background: #f8e9f0; /*warna*/
  width: 450px;
  border-radius: 16px;
  border: none;
  margin-bottom: 10px;
}

.icon-circle {
  width: 56px;
  height: 56px;
  background: #6a1e55; /*warna*/
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 12px;
  font-size: 24px;
}

.form-control {
  padding-left: 32px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #6a1e55; /*warna*/
}

.input-icon {
  position: absolute;
  top: 70%;
  left: 14px;
  transform: translateY(-50%);
  color: #6a1e55;
}

.toggle-icon {
  position: absolute;
  top: 70%;
  right: 14px;
  transform: translateY(-50%);
  color: #6a1e55;
}

.btn-login {
  background: #6a1e55; /*warna*/
  color: #fff;
  font-weight: 600;
}

.btn-login:hover {
  background: #6a1e55; /*warna*/
  color: #fff;
  transition: background 0.3s ease;
}
